{% extends 'template.html' %}

{% block css %}
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" id="mymetatag"/>
<link rel="apple-touch-icon" id="icon" href="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/iconlight.png"/>
{% endblock %}

{% block head %}
<title>Ananda Badari &nbsp; | &nbsp; About Me!</title>
{% endblock %}

{% block body %}
<h1>About Me</h1>
<p style="text-align: justify; text-justify: inter-word;">
    <img src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/me1.jpg" align="left" width="35%" style="margin-bottom: 5px; margin-right: 15px; margin-top: 5px; border-radius: 25px;">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.

    <br><br>

    <img src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/me2.jpg" align="right" width="35%" style="margin-bottom: 5px; margin-left: 15px; margin-top: 5px; border-radius: 25px;">

    Quam id leo in vitae turpis massa sed. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque. Nisl suscipit adipiscing bibendum est ultricies. Porttitor massa id neque aliquam vestibulum. Volutpat maecenas volutpat blandit aliquam. Nunc congue nisi vitae suscipit tellus. Lacus vel facilisis volutpat est. Pulvinar elementum integer enim neque. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Semper risus in hendrerit gravida rutrum quisque non. Feugiat sed lectus vestibulum mattis ullamcorper. In ornare quam viverra orci sagittis eu volutpat. Ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Vitae sapien pellentesque habitant morbi tristique senectus et netus. Euismod nisi porta lorem mollis aliquam ut porttitor leo a.

    <br><br>

    <img src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/me3.jpg" align="left" width="35%" style="margin-bottom: 5px; margin-right: 15px; margin-top: 5px; border-radius: 25px;">

    Dignissim suspendisse in est ante in. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Mi tempus imperdiet nulla malesuada pellentesque elit eget. Et molestie ac feugiat sed lectus. Massa tincidunt nunc pulvinar sapien et ligula. Pharetra diam sit amet nisl. Sed vulputate mi sit amet mauris commodo quis. Et malesuada fames ac turpis egestas maecenas pharetra convallis. Ut sem viverra aliquet eget. Purus gravida quis blandit turpis cursus. Lacus viverra vitae congue eu consequat ac felis donec et. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin. Aliquam purus sit amet luctus venenatis lectus magna. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Vel risus commodo viverra maecenas accumsan lacus vel. Facilisis gravida neque convallis a cras.
</p>
{% endblock %}

{% block scripts %}
{% endblock %}