{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block head %}
    <title>Ananda Badari</title>
{% endblock %}

{% block body %}
<ul>
    <li><a href="/beta">Home</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blog">Musings</a></li>
    <li><a class="active" href="/about">About Me</a></li>
  </ul>
  
  <div class="content">
    <h1 style="font-size: 40px;"><b>About Me!</b></h1>
    <h3>Computer Science / Mathematics - Georgia Tech</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
  </div>  
    <!-- <a href='/todo'>To-Do List</a> -->
{% endblock %}