<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static\css\index.css">

    {% block css %}{% endblock %}
    {% block head %}{% endblock %}
    
</head>
<body>
    <div class="wrapper">
        <header>
            {% block header %}{% endblock %} 
        </header>

        <div class='altheader'>
            {% block altheader %}{% endblock %} 
        </div>
        
        <section>
            <div class='sub' style="background-color: white;">&nbsp;</div>
            {% block body %}{% endblock %} 
        </section>

        <div class='altheader'>
            {% block altfooter %}{% endblock %} 
        </div>
    </div>
    <script>
        window.onscroll = function() {myFunction()};
        
        var navbar = document.getElementById("navbar");
        var stickynav = document.getElementById("stickynavbar");
        var bound = document.getElementsByClassName("custom")[0];
        var sticky = bound.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset >= sticky) {
            stickynav.classList.add("shown")
            stickynav.classList.remove("hidden")
          } else {
            stickynav.classList.add("hidden")
            stickynav.classList.remove("shown");
          }
        }
    </script>
    <script src="javascripts/scale.fix.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>