{% extends 'template.html' %}

{% block css %}
{% endblock %}

{% block head %}
<title>Ananda Badari &nbsp; | &nbsp; School</title>
{% endblock %}

{% block body %}

<h1>School Coursework
    <a target="_blank" href="https://github.com/abadari3/personalwebsite/raw/master/media/transcript-fall2020.pdf"><img class='social' style="float:right" src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/pdf.png"></a>
</h1>

<p>
    A little bit about my journey through GT classes. From initially being Electrical Engineering, to switching to Computer Science, then adding Mathematics, and finally being accepted into the BSMS program. Talk about my current GPA, and a bit about my plans for the future.
</p>

<button class="collapsible" id="collapsible-button-7" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Spring 2021 (In Progress)</h3></button>
<div class="collapsible-content" id="collapsible-section-7">
    <ul>
        <li>CS 3251 - Computer Networking 1</li>
        <li>CS 4510 - Automata and Complexity</li>
        <li>CS 4605 - Mobile and Ubiquitous Computing</li>
        <li>CS 4731 - Game AI</li>
        <li>ECE 2031 - Digital Design Lab</li>
        <li>MATH 4280 - Information Theory</li>
        <li>MATH 7018 - Probabilistic Combinatorics</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-6" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Fall 2020</h3></button>
<div class="collapsible-content" id="collapsible-section-6">
    <ul>
        <li>CETL 2000 - Undergraduate TA Prep</li>
        <li>CS 3630 - Introduction to Perception and Robotics</li>
        <li>CS 4476 - Introduction to Computer Vision</li>
        <li>CS 4641 - Machine Learning</li>
        <li>MATH 4022 - Introduction to Graph Theory</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-5" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Summer 2020</h3></button>
<div class="collapsible-content" id="collapsible-section-5">
    <ul>
        <li>APPH 1040 - Foundations of Health</li>
        <li>CS 2200 - Systems and Networks</li>
        <li>CS 3790 - Introduction to Cognitive Science</li>
        <li>CS 4001 - Computing and Society</li>
        <li>ID 2202 - History of Modern Industrial Design</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-4" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Spring 2020</h3></button>
<div class="collapsible-content" id="collapsible-section-4">
    <ul>
        <li>CS 2340 - Objects and Design</li>
        <li>CS 3600 - Introduction to Artifical Intelligence</li>
        <li>MATH 4032 - Combinatorial Analysis</li>
        <li>MATH 4150 - Introduction to Number Theory</li>
        <li>VIP 3602 - Vertically Integrated Projects: Intelligent Platform for Crowdsourcing</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-3" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Fall 2019</h3></button>
<div class="collapsible-content" id="collapsible-section-3">
    <ul>
        <li>CS 1332 - Data Structures and Algorithms</li>
        <li>CS 2110 - Computer Organization and Programming</li>
        <li>CS 3510 - Design and Analysis of Algorithms</li>
        <li>ENGL 1102 - English Composition</li>
        <li>VIP 3602 - Vertically Integrated Projects: Intelligent Platform for Crowdsourcing</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-2" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Summer 2019</h3></button>
<div class="collapsible-content" id="collapsible-section-2">
    <ul>
        <li>ID 2242 - History of Art 2</li>
        <li>PSYC 1101 - General Psychology</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-1" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Spring 2019</h3></button>
<div class="collapsible-content" id="collapsible-section-1">
    <ul>
        <li>CS 1331 - Introduction to Object Oriented Programming</li>
        <li>CS 2050 - Introduction to Discrete Math for CS</li>
        <li>MATH 3215 - Probability and Statistics</li>
        <li>MATH 4580 - Linear Programming</li>
        <li>MATH 4581 - Mathematical Methods in Engineering</li>
        <li>VIP 3601 - Vertically Integrated Projects: Intelligent Platform for Crowdsourcing</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-0" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Fall 2018</h3></button>
<div class="collapsible-content" id="collapsible-section-0">
    <ul>
        <li>ECE 2020 - Digital System Design</li>
        <li>ECE 2040 - Circuit Analysis</li>
        <li>MATH 2106 - Foundations of Mathematical Proofs</li>
        <li>MATH 3406 - Second Course Linear Algebra</li>
        <li>MATH 4802 - Mathematical Problem Solving</li>
    </ul>
    <hr>
</div>

<button class="collapsible" id="collapsible-button-0001" onclick="toggleCollapsibleSectionWithAnimation.call(this)"><h3>Before 2018</h3></button>
<div class="collapsible-content" id="collapsible-section-0001">
    <ul>
        <li>MATH 1554 - Linear Algebra</li>
        <li>MATH 2551 - Multivariable Calculus</li>
        <li>MATH 3012 - Applied Combinatorics</li>
        <li>MATH 2552 - Differential Equations</li>
    </ul>
</div>

{% endblock %}

{% block scripts %}
<script>
    var metas = document.getElementsByTagName('meta');
    var i;
    if (navigator.userAgent.match(/iPhone/i)) {
      for (i=0; i<metas.length; i++) {
        if (metas[i].name == "viewport") {
          metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
        }
      }
      document.addEventListener("gesturestart", gestureStart, false);
    }
    function gestureStart() {
      for (i=0; i<metas.length; i++) {
        if (metas[i].name == "viewport") {
          metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
        }
      }
    }

    function toggleCollapsibleSectionWithAnimation() {
      this.classList.toggle("collapsible-active");
      var buttonId = this.id;
      var sectionId = buttonId.replace("button","section");
      var content = document.getElementById(sectionId);
      var mHeight = window.getComputedStyle(content).maxHeight;
      if (mHeight !== "0px"){
        content.style.maxHeight = "0px";
      } else {
        content.style.maxHeight = "100%";
      }
    }
</script>
{% endblock %}