{% extends 'template.html' %}

{% block css %}
{% endblock %}

{% block body %}
    <div class='sub' id='white'>&nbsp;</div>
    <a class='blank' href="/aboutme">
    <div class='sub' id='green'>
        <h3>About Me!</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>

    <br>
    <a class='blank' href="/resume">
    <div class='sub' id='blue'>
        <h3>Resume</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>
    <br>
    <a class='blank' href="/projects">
    <div class='sub' id='yellow'>
        <h3>Projects</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>

    <br>
    <a class='blank' href="/courses">
    <div class='sub' id='red'>
        <h3>Coursework</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>

    <br>

    <a class='blank' href="/blog">
    <div class='sub' id='gray'>
        <h3>Blog</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>

    <br>
{% endblock %}

<!-- {% block scripts %}
{% endblock %} -->