<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="ADD SEO DESCRIPTION FOR GOOOGLE HERE. CURRENTLY LOOKS SHITTY."> -->

    <link rel="stylesheet" href="static\css\index.css">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="apple-touch-icon" id="icon" href="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/iconlight.png"/>
    
</head>
<body>
    
    <iframe src=”https://drive.google.com/file/d/1YogXeBBbN4ekN8XXDONJ6iwOhCXTGYN_/view?usp=sharing" width=”100%” height=”100%”>
        This browser does not support PDFs. Please download the PDF to view it: Download PDF
    </iframe>

</body>
</html>

<!-- {% extends 'template.html' %}

{% block css %}
{% endblock %}

{% block body %}
    <a class='blank' href="/aboutme">
    <div class='sub' id='green'>
        <h3>About Me!</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>

    <br>
    <a class='blank' href="/resume">
    <div class='sub' id='blue'>
        <h3>Resume</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>
    <br>
    <a class='blank' href="/projects">
    <div class='sub' id='yellow'>
        <h3>Projects</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>

    <br>
    <a class='blank' href="/courses">
    <div class='sub' id='red'>
        <h3>School Courses</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet proin fermentum leo vel orci porta. Euismod quis viverra nibh cras. Bibendum at varius vel pharetra vel turpis nunc. Eu augue ut lectus arcu bibendum at varius. Non tellus orci ac auctor augue mauris augue neque. Egestas diam in arcu cursus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Viverra vitae congue eu consequat ac felis donec. Sed vulputate odio ut enim blandit. Ut tellus elementum sagittis vitae. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Sit amet risus nullam eget felis eget nunc. Quis vel eros donec ac odio tempor orci.
        </p>
    </div>
    </a>

    <br>
{% endblock %}

{% block scripts %}
{% endblock %} -->