<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="container" >
  <div class="jumbotron jumbotron-fluid lead" id="name">
    <h1  style="text-align: center;">Ananda Badari</h1>
  </div>

  <!-- <h2 style="text-align: center;">About Me</h2> -->
  <div class="col-md-4">
    <img src="static/headshot.jpeg" class="img-thumbnail">
      <br>
  </div>

  <div class="col-md-8">
    <p>I am a 4th year student at Georgia Tech, working towards my Bachelors in Mathematics and BS/MS Computer Science (concentrations in Intelligence and Information Internet-works). (Expected Graduation Spring 2023)

      I am currently looking for a Summer 2022 Internship in ML, Cybersecurity, Blockchain, or Research fields.
  
      In general, I am interested in Theory, Machine Learning, Blockchain, Cloud, Cybersecurity. As long as it has strong mathematical principles, and cool applications, it interests me. 
      <br>
      <br>
      
      After taking courses like AI, ML, and Computer Vision, I was interested in Machine Learning. I furthered my interest by pursuing projects involving Neural Networks, Genetic Algorithms, and Naive Bayes. 
      
      Then, after taking a course on Number Theory, and Cryptocurrencies, I became very interested in learning more about Cryptography. This experience culminated in writing a paper summarizing the white papers of Bitcoin and Ethereum, and comparing their respective protocols. 
      
      <br>
      <br>
      After that, I interned at F5 Inc, where I was exposed to many new things from the microservice architecture (in Golang), Agile methodology, React for Data Visualization, Google Cloud Platform, and Data Processing Pipelines. Our proof of concept work on zero trust application access utilizing Machine Learning for modern app security won the InnovateF5 Project Fair. After learning Google Cloud Platform, cloud architectures captured my attention, and I transitioned my personal website onto GCP, and set up my own VPN using a VM running on GCP with WireGuard. 
      <br>
      <br>
      
      My work with the Open Source Acasi CTF project fueled my curiosity with Cybersecurity as well. Currently, I am continuing this interest by taking courses in Networking 2, Information Security, as well as a course in Automata and Complexity. 
      
      In regards to mathematics, my love for math began in middle school with the MathCounts competition. I continued this through high school, eventually becoming president of our high school's math team, the state champions. This passion only grew after pivoting to more rigorous proof-based mathematics from competition math. Some of my favorite courses I took were Abstract Vector Spaces, Partial Differential Equations, Graph Theory and Probabilistic Combinatorics. I particularly was thrilled at how these topics were applicable in Computer Science in unique ways. 
      I like to think of math as the blueprint to computer science's ability to build digital infrastructure. </p>
      <br>
  </div>
  
  <div style="text-align:center;" >

    <a type="button" class="btn btn-lg btn-danger " href="/"> Resume</a>
    <a type="button" class="btn btn-lg btn-primary" href="/"> LinkedIn</a>
    <a type="button" class="btn btn-lg btn-primary" href="/">GitHub</a>
    <a type="button" class="btn btn-lg btn-primary" href="/">Medium</a>
  </div>
</div>
<hr>
<div class="container" style="text-align: center;">
  <div class="card">
    <img src="static/headshot.jpeg" style="width: 18rem;border-radius: 10px;" class="card-img-top " alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" style="width: 100%;">Read More...</a>
    </div>
  </div>
  <div class="card">
    <img src="static/headshot.jpeg" style="width: 18rem;border-radius: 10px;" class="card-img-top " alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" style="width: 100%;">Read More ...</a>
    </div>
  </div>
  <div class="card">
    <img src="static/headshot.jpeg" style="width: 18rem;border-radius: 10px;" class="card-img-top " alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" style="width: 100%;">Read More ...</a>
    </div>
  </div>
  <div class="card">
    <img src="static/headshot.jpeg" style="width: 18rem;border-radius: 10px;" class="card-img-top " alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" style="width: 100%;">Read More ...</a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-go" class="alert-link">Getting Started with Go on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
          <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/go-getting-started">Heroku Button</a> on the repository.</li>

          <li>When Heroku received the source code it used the go tool chain to compile the application along with any vendored dependencies and created a deployable slug.</li>
          <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
          <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>go get github.com/heroku/go-getting-started</code> - this will create a local copy of the source code for the app, compile and install the generated executables in <code>$GOPATH/bin</code></li>
          <li><code>cd $GOPATH/src/github.com/heroku/go-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name&gt;</code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-go#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started with Go on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/go-support">Heroku Go Support</a></li>
      </ul>
    </div>
  </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      Please do work through the Getting Started guide, even if you do know how to build such an application. The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

</body>
</html>
