<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Predicting Future Stock Market Prices using a Multilayer Perceptron Model</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mlstyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github-light.css') }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Predicting Future Stock Market Prices using a Multilayer Perceptron Model.</h1>
        <strong>CS 4641: Machine Learning</strong>
        <h4>Georgia Tech</h4>
        
        <p>Ananda Badari<br>
        Reed Bethune<br>
        Leon Breaux<br>
        Winter Galyon<br>
        Soo Kim</p>
        
        <img src="https://www.investopedia.com/thmb/NIRIWYxne7FQv1KPMGp21Mw3ZnA=/4000x2250/filters:fill(auto,1)/GettyImages-1069345714-fbda50660ce74c26944a2b03d6482473.jpg">

        <img src="https://miro.medium.com/max/432/1*y0pXhfaTGmvfNwaGoHnW5w.jpeg">
        <img src="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/AI-Stock.png">
        

        <p class="view"><a href="https://github.gatech.edu/pages/abadari3/Predicting-Future-Stock-Market-Prices-using-a-Multilayer-Perceptron-Model/">View the Project on GitHub <small>Predicting Future Stock Market Prices using a Multilayer Perceptron Model</small></a></p>


      </header>
      <section>
        <h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Introduction/Background</h3>

<p>
  Prediction of stock prices is an incredibly complex problem, which is “strongly affected by various highly interrelated sources … that cover a wide range of topics including economics, politics, and psychology” <a href="#references">(Q. Li et al)</a>. We can analyze stock behavior from multiple perspectives, using many different technical indicators, and evaluate the accuracy of our model. 
</p>

<h3>
  <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true">
    <span aria-hidden="true" class="octicon octicon-link"></span>
  </a>
  Problem Definition
</h3>

<p>
  The problem is this: where does a security’s value go tomorrow? Given a wealth of information, how can we sift through it all and determine what actually has predictive power. Recent research has shown that “numerous prediction applications using Artificial Neural Networks (ANN), fuzzy logic Genetic Algorithms (GA) and other techniques” have proven effective <a href="#references">(Patel et al)</a>. We believe that given the right information, finding significant success in predicting stock prices is a matter of using the correct technique.
</p>

<h3>
  <a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true">
    <span aria-hidden="true" class="octicon octicon-link"></span>
  </a>
  Methods
</h3>

<p>
  The model proposed in Patel, Shah, Thakkar, Kotecha had its inputs as 10 technical indicators for previous stock data, and used a variety of methods to predict the closing price <i>n</i> days from now. They found that the best overall prediction performance is achieved by SVR–ANN model <a href="#references">(Patel et al)</a>. Additionally, when comparing the Long-Short Term Memory model to the Multilayer Perceptron model, Khare, Darekar, Gupta, Attar found that MLP significantly outperforms LSTM <a href="#references">(Khare et al)</a>.<br><br>

  Thus, we will be modifying Patel’s fusion model with an Multilayer Perceptron Model, rather than a single-layer Artificial Neural Network.<br><br>
  
  Thus, our methodology is as follows: we collect the appropriate technical indicators for the previous <i>t</i> days, and run them through a Support Vector Regression (SVR) model to predict the technical indicators on day <i>(t + n)</i>. These predicted technical indicators are then inputted to a Multilayer perceptron network, which predicts the closing stock price on the <i>(t + n)</i> day. <br>

  <figure>
    <img src="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/2stage.png" style="width:100%">
    <figcaption>Two-Stage Fusion SVR-MLP Model</figcaption>
  </figure>
  
</p>

<h3>
  <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true">
    <span aria-hidden="true" class="octicon octicon-link"></span>
  </a>Potential results
</h3>

<p>
After implementing our prediction algorithm, we will need a way to evaluate its effectiveness. We will separate the past data into a long learning period, and a short evaluation period. The learning period will be fed into the algorithm, which will then predict price movements for the evaluation period. We can repeat this testing over a number of different stock symbols, and evaluate the average error to determine the effectiveness of our program. An effective program should be able to predict the direction of movement in stock prices with an extremely high accuracy (95% or above). Because we are focusing on technical analysis and excluding fundamental analysis, it is expected that our models will fail to predict movements based on news and events. 
</p>

<h3>
  <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true">
    <span aria-hidden="true" class="octicon octicon-link"></span>
  </a>
  Discussion
</h3>

<p>
  The stock market provides investors with an avenue to generate passive income 
</p>

<h3 id="references">
    <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true">
      <span aria-hidden="true" class="octicon octicon-link"></span>
    </a>
    References
  </h3>
  
  <p>
    <ol>
      <li>
        <a  id="ref" target="_blank" href="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/khare.pdf">Khare, Kaustubh & Darekar, Omkar & Gupta, Prafull & Attar, Vahida. (2017). Short term stock price prediction using deep learning. 482-486. 10.1109/RTEICT.2017.8256643. </a>
      </li>
      <li>
        <a  id="ref" target="_blank" href="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/li.pdf">Qing Li, Yuanzhu Chen, Li Ling Jiang, Ping Li, and Hsinchun Chen. 2016. A Tensor-Based Information Framework for Predicting the Stock Market. ACM Trans. Inf. Syst. 34, 2, Article 11 (April 2016), 30 pages. DOI:https://doi.org/10.1145/2838731 </a>
      </li>
      <li><a  id="ref" target="_blank" href="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/patel.pdf">Patel, J., Shah, S., Thakkar, P., & Kotecha, K. (2015). Predicting stock market index using fusion of machine learning techniques. <i>Expert Syst. Appl.</i>, 42, 2162-2172. </a></li>
    </ol> 
  </p>

      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
