{% extends 'template.html' %}

{% block css %}
{% endblock %}

{% block head %}
<title>Ananda Badari &nbsp; | &nbsp; Blog</title>
{% endblock %}

{% block body %}
<h1>Blog</h1>
<p>
    <ul>
        <li>Make mobile nav-bar sticky</li>
        <ul>
            <li>Possibly make my face shrink and go to the left of the nav bar. </li>
        </ul>
        <li>Home Page</li>
        <li>About Me Page</li>
        <li>Resume</li>
        <li>Projects</li>
        <li>Coursework</li>
        <li>Notes</li>
        <ul><li>view Noto notes as blog entries</li></ul>
        <li>Admin (Hidden) Page</li>
        <ul><li>add notes to blog </li></ul>
        <li>SSL Certify website</li>
        <ul><li>so website doesn't show 'Not Secured' to everyone.</li></ul>
        <li>Turn into progressive web app</li>
    </ul>
</p>
{% endblock %}

{% block scripts %}
{% endblock %}