{% extends 'template.html' %}

{% block css %}
{% endblock %}

{% block head %}
<title>Ananda Badari &nbsp; | &nbsp; Notes</title>
{% endblock %}

{% block body %}

<h1><a href="https://anandabadari.medium.com" style='color: black'>Notes</a></h1>
<a class='blank2' target="_blank" href="https://anandabadari.medium.com/my-first-medium-post-1f888df1e6e7">
    <div class='sub' id='black'>
        <strong style='font-size: large;'>12/21/2020 - My First Medium Post</strong>
            <small style='float: right; align-self: center;'>Click to View in Medium ↗</small>
    </div>
</a>
<br>
<a class='blank2' target="_blank" href="/notes">
    <div class='sub' id='black'>
        <strong style='font-size: large;'>In Progress</strong>
            <p>
                <ul>
                    <li>SUNBURST Hack</li>
                    <li>Making my First Website</li>
                    <li>Tupac Shakur (Book + Music Review)</li>
                    <li>Options (Includes Book Review) </li>
                    <li>LeetCode #1: Two Sum</li>
                    <li>LeetCode #2: Add Two Numbers</li>
                    <li>LeetCode #3: Longest Substring Without Repeating Characters</li>
                    <li>LeetCode #20: Valid Parenthesis</li>
                    <li>LeetCode #21: Merge Two Sorted Lists</li>
                </ul>
            </p>
    </div>
</a>
<br>

<a class='blank2' href="/aboutme">
    <div class='sub' id='black'>
        <h3>About Me!</h3>

        <p>
            <ul>
                <li>Make mobile nav-bar sticky</li>
                <ul>
                    <li>Possibly make my face shrink and go to the left of the nav bar. </li>
                </ul>
                <li>Home Page</li>
                <li>About Me Page</li>
                    <ul><li>Short couple of paragraphs about me. CS stuff up front at the top.</li>
                    <li>then, an hr element maybe, and then couple paragraphs of other notable events in my life.</li>
                    <li>future: annotated timeline, with images</li></ul>
                <li>Resume</li>
                    <ul><li>Standard one page resume as pdf (and tex?)</li>
                        <li>Standard one page resume page</li>
                        <li>In-depth resume page, with explanations of every project, etc.</li>
                    <li>Cover letter basically in text form, good formatting.</li>
                    <li>cover letter in pdf form as well.</li>
                    <li>transcripts</li>
                    <li>specific emphasis on linkedin portion of website.</li></ul>
                <li>Projects</li>
                    <ul><li>Individual projects vs. Group projects.</li>
                        <li>Personal projects vs. School projects.</li>
                    <li>readmes, videos, gifs, images, etc. visualizations are key.</li>
                    <li>readmes link to a Noto note basically. (should also be a link to it in the Notes tab.)</li>
                    <li>set up github readmes for all projects as repos.</li>
                    <li>even repos in which I cannot share code on github, maybe give box or dropbox download link</li>
                    <li>Future - list of potential project ideas.</li></ul>
        
                <li>Coursework</li>
                <ul><li>Past - old classes i've taken, with whom, what grades I got.</li>
                    <li>Past - eventually add descriptions of what I learned in each class, personally how did I benefit.</li>
                    <li>Present - current coursework, what we are learning, why I chose the class, etc.</li>
                    <li>link to the projects I have done in the class. (should also be a link to it from the projects page.</li>
                    <li>Future - add what types of classes I want to take in the future. Both general plans, and graduation plans.</li>
                    <li>separate by math, cs undergrad, and cs graduate</li></ul>
                <li>Notes</li>
                <ul><li>view Noto notes as blog entries</li>
                    <li>Easy way for now: collapsible plaintext/html notes</li>
                    <li>future:</li>
                    <li>gradient blur of note, with read more tagline, clicking opens modal box with note. </li>
                    <li>sort by date, tags</li>
                    <li>maybe some kind of SQL database?</li></ul>
                <li>Admin (Hidden) Page</li>
                <ul><li>future:</li>
                    <li>add blog entries</li>
                    <li>find some way to export directly from Noto into a notes post.</li>
                    <li>custom pages to help workflow, from testing things out to actual things that will help me (to do list, habit streaks, notifications).</li></ul>
                <li>SSL Certify website</li>
                <ul><li>so website doesn't show 'Not Secured' to everyone.</li>
                    <li>One year free with namecheap with github student developer pack.</li></ul>
                <li>React</li>
                <ul><li>learn react with flask, specifically with typescript.</li>
                    <li>then I can add blueprintjs buttons and other ui elements using react.</li>
                    <li>make interactive data visualizations with plottablejs (or even bokeh?)</li>
                </ul>
            </ul>
        </p>
    </div>
</a>
<br>

{% endblock %}

{% block scripts %}
{% endblock %}