{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<ul>
  <li><a href="/beta">Home</a></li>
  <li><a href="/resume">Resume</a></li>
  <li><a class="active" href="/projects">Projects</a></li>
  <li><a href="/blog">Musings</a></li>
  <li><a href="/about">About Me</a></li>
  <br><br><br><br>
  <div style="color:white;text-align: center;position: absolute;bottom: 300px;">

    <ul>
      <li><a href="mailto:abadari3@gatech.edu" style="background-color: transparent; padding: 1px 16px;" target="_blank"><img src="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/email.png" width="50px"></a></li>
      <li><a href="linkedin.com/in/anandabadari/" style="background-color: transparent; padding: 1px 16px;" target="_blank"><img src="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/linkedin.png" width="50px"></a></li>
      <li><a href="https://github.com/abadari3" style="background-color: transparent; padding: 1px 16px;" target="_blank"><img src="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/github.png" width="50px"></a></li>
      <li><a href="https://www.instagram.com/anandabadari/" style="background-color: transparent; padding: 1px 16px;" target="_blank"><img src="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/instagram.png" width="50px"></a></li>
      <li><a href="https://www.facebook.com/anandabadari/" style="background-color: transparent; padding: 1px 16px;" target="_blank"><img src="https://raw.githubusercontent.com/abadari3/anandabadari.com/master/images/facebook.png" width="50px"></a></li>
    </ul>
  </div>
</ul>
<div style="margin-left: 130px;margin-top:-30px;">
  <div class="content">
    <h1 style="font-size: 40px;"><b>Projects</b></h1>
    <h3>Computer Science / Mathematics - Georgia Tech</h3>
    <p>- All projects highlighted on github and on LinkedIn, in reverse chronological order</p>
    <p>- Review of project, and comments, like github readme</p>
    <p>- Emphasize the cool parts of the project, and what I learned.</p>
    <p>- Future Projects List</p>
  </div>  
  </div>
    <!-- <a href='/todo'>To-Do List</a> -->
{% endblock %}