{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block head %}
    <title>Ananda Badari</title>
{% endblock %}

{% block body %}
<ul>
    <li><a href="/beta">Home</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a class="active" href="/projects">Projects</a></li>
    <li><a href="/blog">Musings</a></li>
    <li><a href="/about">About Me</a></li>
  </ul>
  
  <div class="content">
    <h1 style="font-size: 40px;"><b>Projects</b></h1>
    <h3>Computer Science / Mathematics - Georgia Tech</h3>
    <p>- All projects highlighted on github and on LinkedIn, in reverse chronological order</p>
    <p>- Review of project, and comments, like github readme</p>
    <p>- Emphasize the cool parts of the project, and what I learned.</p>
    <p>- Future Projects List</p>
  </div>  
    <!-- <a href='/todo'>To-Do List</a> -->
{% endblock %}