{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block head %}
<title>Ananda Badari</title>
<link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/me_tp.png"/>
{% endblock %}

{% block header %}
<div align='center'>
    <a href="/">
        <img class='me' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/me.png">
    </a>
    <hr>
    <h1>Ananda Badari</h1>
    <h3>Georgia Tech</h3>
    <p>
        Computer Science<br>
        Mathematics
    </p>
</div>
<hr>
<div align='center'>
    <a href="">About Me</a><br>
    <a href="">Coursework</a><br>
    <a href="">Resume</a><br>
    <a href="">Projects</a><br>
    <!-- <a href="">Blog</a><br> -->
</div>
<br>
<hr>
<div align='center'>
    <a href="">
    <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/fb.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/insta.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/twitter.png">
    </a>    <br>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/github.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/gmail.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/linkedin.png">
    </a>   
    <hr>
    <p><small><i>Created using Flask</i></small></p>
</div>

{% endblock %}

{% block altheader %}
<div class='nav' align='center'>
    <a href="/">
        <img class='me' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/me.png">
    </a>
    <h1>Ananda Badari</h1>
    <p>
        <a href="">About Me</a>
        <a href="">Coursework</a>
        <a href="">Resume</a>
        <a href="">Projects</a>
        <!-- <a href="">Blog</a> -->
    </p>
    <hr>
</div>
{% endblock %} 

{% block body %}
{% endblock %}

{% block altfooter %}
<div align='center'>
    <a href="">
    <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/fb.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/insta.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/twitter.png">
    </a>    
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/github.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/gmail.png">
    </a>
    <a href="">
        <img class='social' src="https://raw.githubusercontent.com/abadari3/personalwebsite/master/images/linkedin.png">
    </a>    
    <br><br>
    <hr>
    <p><small><i>Created from scratch using Flask, by Ananda Badari.</i></small></p>
</div>
{% endblock %} 

{% block scripts %}
{% endblock %}
